<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Anything that's not an actual file or directory is internally rewritten to / and 
					the requested URL is handed down to the client intact -->
				<rule name="Client-side deep link support" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
		<handlers>
			<add name="Browser Link for HTML" 
				 path="*.html" 
				 verb="*"
				 type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
				 resourceType="File" 
				 preCondition="integratedMode" />
		</handlers>
	</system.webServer>
</configuration>